@use '../../../../../../style-variables/colors.scss' as colors;
@use '../../../../../../style-variables/breakpoints.scss' as breakpoints;
a {
    text-decoration: none;
}
.certifications-section {
    gap: 1rem;
        display: grid;
        grid-template-columns:  auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'certifications-heading-container' 'certifications-container' 'certifications-button-container';
    & .certifications-heading-container {
            grid-area: certifications-heading-container;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.1rem solid colors.$tertiary-color;
    
            & .certifications-heading {
                color: colors.$secondary-color;
            }
        }
    & .certifications-container {
        grid-area: certifications-container;
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        & .certification {
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: colors.$container-background-color;
            padding: 1rem;
            & .certification-icons {
                display: flex;
                justify-content: space-between;
                background-color: colors.$container-background-color;
                & .certification-icon {
                    color:colors.$tertiary-color;
                    background-color: colors.$container-background-color;
                }
            }
            & .certification-header-container {
                background-color: colors.$container-background-color;
                & .certification-header {
                    background-color: colors.$container-background-color;
                }
            }
            & .certification-description-container {
                background-color: colors.$container-background-color;
                & .certification-description {
                    background-color: colors.$container-background-color;
                }
            }
        }
    }
    & .certifications-button-container {
        display: flex;
        justify-content: flex-end;
        & .certifications-button {
            color: colors.$tertiary-color;
            border-style: none;
            border: 0.1rem solid;
            padding: 0.5rem;
        }
    }
    
}
@media(max-width: breakpoints.$phone-breakpoint) {
    .certifications-section {
        & .certifications-container {
            grid-template-columns: auto;
        }

    }
}