$dark-mode : true !default;
$primary-color: #8892B0 !default;
$secondary-color: #CCD6F6 !default;
$tertiary-color: #40A496 !default;
$background-color: #0A192F !default;
$container-background-color: #10223F !default;