@use '../../style-variables/colors.scss' as colors;
@use '../../style-variables/breakpoints.scss' as breakpoints;

.nav-bar {
    display: flex;
    background-color: colors.$background-color;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0.5rem;
    flex-wrap: wrap;
    
    & .nav-title {
        align-self: center;
        padding-left: 1rem;
        flex-grow: 0.8;
        color: colors.$secondary-color
    }

    & .nav-items {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        & .nav-item {
            display: flex;
            border: 0.1rem solid colors.$primary-color;
            border-style: none solid none none;
            &:first-child {
                border-left-style: solid;
            }
            & nav-link {
                width: max-content;
                height:max-content;
            }
        }
    }
    & .nav-item .nav-link , & .nav-button {
        padding: 1rem;
        &:hover {
            background-color: colors.$container-background-color;
        }
    }
    & .nav-button {
        color: colors.$tertiary-color;
        background-color: colors.$background-color;
        border: 0.1rem solid colors.$tertiary-color
    }
    & .nav-menu {
        display: none;
    }
}
@media (max-width: breakpoints.$tablet-breakpoint) {
    .nav-bar {
        padding: 1.0rem;
        justify-content: space-between;
        & .nav-items, & .nav-button {
            display: none;
        }
        & .nav-menu {
            display: flex;
            
        }
    }
}


$primary: purple;
$danger: red;

/* finally, import Bootstrap */
@import "../../../node_modules/bootstrap/";