@use './style-variables/colors.scss' as colors;
@use './style-variables/breakpoints.scss' as breakpoints;

* {
  color: colors.$primary-color;
  margin: 0;
  padding: 0;
  background-color: colors.$background-color;
  box-sizing: border-box;
}
body main, body footer, body header, .divider {
  max-width: breakpoints.$max-container;
  margin: auto auto;
}
.divider {
  color: colors.$tertiary-color;
}